<footer id="footer" class="footer" >
  <div class="container">
    <div class="content has-text-centered">
      <p>
        TechCheck is an open source project - <a href="https://github.com/asonj/TechCheck">View on GitHub</a>
        <br>
        Built with <svg class="icon icon-heart"><use xlink:href="#icon-heart"></use></svg> by Alex Johnson
      </p>
  
    </div>
  </div>
</footer>
    
    <!-- Imported Javascript -->
    <script  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script  src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script  src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script  src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>


    <!--Local Scripts-->
    <script src="/js/jquery.lazyload.js" type="text/javascript" ></script>
    <script
      src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
      integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
      crossorigin="anonymous"></script>
    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
    <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
    <script src="/js/jquery-ui.multidatespicker.js"></script>
    <script src="/js/sorttable.js"></script>
    <script src="/js/app.js" type="text/javascript" ></script>
</body>


</html>