<!--SVG icons-->
    <svg style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <defs>
           <symbol id="icon-minus" viewBox="0 0 22 28">
            <title>minus</title>
            <path d="M22 11.5v3c0 0.828-0.672 1.5-1.5 1.5h-19c-0.828 0-1.5-0.672-1.5-1.5v-3c0-0.828 0.672-1.5 1.5-1.5h19c0.828 0 1.5 0.672 1.5 1.5z"></path>
            </symbol>
            <symbol id="icon-close" viewBox="0 0 22 28">
            <title>close</title>
            <path d="M20.281 20.656c0 0.391-0.156 0.781-0.438 1.062l-2.125 2.125c-0.281 0.281-0.672 0.438-1.062 0.438s-0.781-0.156-1.062-0.438l-4.594-4.594-4.594 4.594c-0.281 0.281-0.672 0.438-1.062 0.438s-0.781-0.156-1.062-0.438l-2.125-2.125c-0.281-0.281-0.438-0.672-0.438-1.062s0.156-0.781 0.438-1.062l4.594-4.594-4.594-4.594c-0.281-0.281-0.438-0.672-0.438-1.062s0.156-0.781 0.438-1.062l2.125-2.125c0.281-0.281 0.672-0.438 1.062-0.438s0.781 0.156 1.062 0.438l4.594 4.594 4.594-4.594c0.281-0.281 0.672-0.438 1.062-0.438s0.781 0.156 1.062 0.438l2.125 2.125c0.281 0.281 0.438 0.672 0.438 1.062s-0.156 0.781-0.438 1.062l-4.594 4.594 4.594 4.594c0.281 0.281 0.438 0.672 0.438 1.062z"></path>
            </symbol>
            <symbol id="icon-pencil" viewBox="0 0 24 28">
            <title>pencil</title>
            <path d="M5.672 24l1.422-1.422-3.672-3.672-1.422 1.422v1.672h2v2h1.672zM13.844 9.5c0-0.203-0.141-0.344-0.344-0.344-0.094 0-0.187 0.031-0.266 0.109l-8.469 8.469c-0.078 0.078-0.109 0.172-0.109 0.266 0 0.203 0.141 0.344 0.344 0.344 0.094 0 0.187-0.031 0.266-0.109l8.469-8.469c0.078-0.078 0.109-0.172 0.109-0.266zM13 6.5l6.5 6.5-13 13h-6.5v-6.5zM23.672 8c0 0.531-0.219 1.047-0.578 1.406l-2.594 2.594-6.5-6.5 2.594-2.578c0.359-0.375 0.875-0.594 1.406-0.594s1.047 0.219 1.422 0.594l3.672 3.656c0.359 0.375 0.578 0.891 0.578 1.422z"></path>
            </symbol>
            <symbol id="icon-check-square-o" viewBox="0 0 26 28">
            <title>check-square-o</title>
            <path d="M22 14.531v4.969c0 2.484-2.016 4.5-4.5 4.5h-13c-2.484 0-4.5-2.016-4.5-4.5v-13c0-2.484 2.016-4.5 4.5-4.5h13c0.625 0 1.25 0.125 1.828 0.391 0.141 0.063 0.25 0.203 0.281 0.359 0.031 0.172-0.016 0.328-0.141 0.453l-0.766 0.766c-0.094 0.094-0.234 0.156-0.359 0.156-0.047 0-0.094-0.016-0.141-0.031-0.234-0.063-0.469-0.094-0.703-0.094h-13c-1.375 0-2.5 1.125-2.5 2.5v13c0 1.375 1.125 2.5 2.5 2.5h13c1.375 0 2.5-1.125 2.5-2.5v-3.969c0-0.125 0.047-0.25 0.141-0.344l1-1c0.109-0.109 0.234-0.156 0.359-0.156 0.063 0 0.125 0.016 0.187 0.047 0.187 0.078 0.313 0.25 0.313 0.453zM25.609 6.891l-12.719 12.719c-0.5 0.5-1.281 0.5-1.781 0l-6.719-6.719c-0.5-0.5-0.5-1.281 0-1.781l1.719-1.719c0.5-0.5 1.281-0.5 1.781 0l4.109 4.109 10.109-10.109c0.5-0.5 1.281-0.5 1.781 0l1.719 1.719c0.5 0.5 0.5 1.281 0 1.781z"></path>
            </symbol>
            <symbol id="icon-heart" viewBox="0 0 28 28">
            <title>heart</title>
            <path d="M14 26c-0.25 0-0.5-0.094-0.688-0.281l-9.75-9.406c-0.125-0.109-3.563-3.25-3.563-7 0-4.578 2.797-7.313 7.469-7.313 2.734 0 5.297 2.156 6.531 3.375 1.234-1.219 3.797-3.375 6.531-3.375 4.672 0 7.469 2.734 7.469 7.313 0 3.75-3.437 6.891-3.578 7.031l-9.734 9.375c-0.187 0.187-0.438 0.281-0.688 0.281z"></path>
            </symbol>
            <symbol id="icon-angle-double-up" viewBox="0 0 36 56">
            <title>angle-double-up</title>
            <path d="M33.594 41c0 0.25-0.125 0.531-0.312 0.719l-1.562 1.562c-0.188 0.188-0.438 0.312-0.719 0.312-0.25 0-0.531-0.125-0.719-0.312l-12.281-12.281-12.281 12.281c-0.188 0.188-0.469 0.312-0.719 0.312s-0.531-0.125-0.719-0.312l-1.562-1.562c-0.188-0.188-0.312-0.469-0.312-0.719s0.125-0.531 0.312-0.719l14.563-14.563c0.188-0.188 0.469-0.312 0.719-0.312s0.531 0.125 0.719 0.312l14.563 14.563c0.188 0.188 0.312 0.469 0.312 0.719zM33.594 29c0 0.25-0.125 0.531-0.312 0.719l-1.562 1.562c-0.188 0.188-0.438 0.312-0.719 0.312-0.25 0-0.531-0.125-0.719-0.312l-12.281-12.281-12.281 12.281c-0.188 0.188-0.469 0.312-0.719 0.312s-0.531-0.125-0.719-0.312l-1.562-1.562c-0.188-0.188-0.312-0.469-0.312-0.719s0.125-0.531 0.312-0.719l14.563-14.563c0.188-0.188 0.469-0.312 0.719-0.312s0.531 0.125 0.719 0.312l14.563 14.563c0.188 0.188 0.312 0.469 0.312 0.719z"></path>
            </symbol>
        </defs>
    </svg>